In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('order_item_dataset.csv')

In [22]:
df.head()

,order_id,order_item_id,product_id,seller_id,pickup_limit_date,price,shipping_cost
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58900.0,13290.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239900.0,19930.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199000.0,17870.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12990.0,12790.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199900.0,18140.0

In [23]:
df.describe(include=object)
#string values

,order_id,product_id,seller_id,pickup_limit_date
count,112650,112650,112650,112650
unique,98666,32951,3095,93318
top,8272b63d03f5f79c56e9e4120aec44ef,aca2eb7d00ea1a7b8ebd4e68314663af,6560211a19b47992c3666cc44a7e94c0,2017-07-21 18:25:23
freq,21,527,2033,21

In [24]:
df.describe()
#the only numeric values

       order_item_id         price  shipping_cost
count  112650.000000  1.126500e+05  112650.000000
mean        1.197834  1.206537e+05   19990.319929
std         0.705124  1.836339e+05   15806.405412
min         1.000000  8.500000e+02       0.000000
25%         1.000000  3.990000e+04   13080.000000
50%         1.000000  7.499000e+04   16260.000000
75%         1.000000  1.349000e+05   21150.000000
max        21.000000  6.735000e+06  409680.000000

In [25]:
type(df)

pandas.core.frame.DataFrame

In [26]:
df.shape
# (rows,columns)

(112650, 7)

In [27]:
len(df)
#number of rows

112650

In [28]:
df.tail()

,order_id,order_item_id,product_id,seller_id,pickup_limit_date,price,shipping_cost
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299990.0,43410.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350000.0,36530.0
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99900.0,16950.0
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55990.0,8720.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43000.0,12790.0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   order_id           112650 non-null  object
 1   order_item_id      112650 non-null  int64
 2   product_id         112650 non-null  object
 3   seller_id          112650 non-null  object
 4   pickup_limit_date  112650 non-null  object
 5   price              112650 non-null  float64
 6   shipping_cost      112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [30]:
df['order_id'] = df['order_id'].astype("string")

In [31]:
df['product_id'] = df['product_id'].astype("string")

In [32]:
df['seller_id'] = df['seller_id'].astype("string")

In [33]:
df = df.drop('order_item_id', axis=1)

In [34]:
df['pickup_limit_date'] = pd.to_datetime(df['pickup_limit_date'])

In [35]:
# Export the DataFrame to a CSV file
df.to_csv('sales55.csv', index=False)

In [36]:
df10 = pd.read_csv('sales55.csv')

In [53]:
df10.head()

,order_id,user_id,product_id,feedback_id,seller_id,payment_id,pickup_limit_date,price,shipping_cost
0,00010242fe8c5a6d1ba2dd792cb16214,861eff4711a542e4b93843c6dd7febb0,4244733e06e7ecb4970a6e2683c13e61,7bc2406110b926393aa56f80a40eba40,48436dade18ac8b2bce089ec2a041202,1.0,2017-09-19 09:45:35,58900.0,13290.0
1,00018f77f2f0320c557190d7a144bdd3,290c77bc529b7ac935b93aa66c333dc3,e5f2d52b802189ee658865ca93d83a8f,80e641a11e56f04c1ad469d5645fdfde,dd7ddc04e1b6c2c614352b383efe2d36,2.0,2017-05-03 11:05:13,239900.0,19930.0
2,000229ec398224ef6ca0657da4fc703e,060e732b5b29e8181a18229c7b0b2b5e,c777355d18b72b67abbeef9df44fd0fd,228ce5500dc1d8e020d8d1322874b6f0,5b51032eddd242adc84c38acab88f23d,3.0,2018-01-18 14:48:30,199000.0,17870.0
3,00024acbcdf0a6daa1e931b038114c75,259dac757896d24d7702b9acbbff3f3c,7634da152a4610f1595efa32f14722fc,e64fb393e7b32834bb789ff8bb30750e,9d7a1d34a5052409006425275ba1c2b4,4.0,2018-08-15 10:10:18,12990.0,12790.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,345ecd01c38d18a9036ed96c73b8d066,ac6c3623068f30de03045865e4e10089,f7c4243c7fe1938f181bec41a392bdeb,df560393f3a51e74553ab94004ba5c87,5.0,2017-02-13 13:57:51,199900.0,18140.0

In [38]:
df11 = pd.read_csv('user_dataset_1.csv')

In [40]:
df10['user_id'] = df11['user_id']

In [43]:
df12 = pd.read_csv('feedback_dataset_1.csv')

In [45]:
df10['feedback_id'] = df12['feedback_id']

In [47]:
df13 = pd.read_csv('payment_dataset_1.csv')

In [49]:
df10['payment_id'] = df13['payment_id']

In [68]:
# altering the DataFrame
df10 = df10[['order_id', 'user_id', 'product_id','feedback_id','seller_id','payment_id','pickup_limit_date','price','shipping_cost']]

KeyError: "['payment_id'] not in index"

In [65]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   order_id           112650 non-null  string
 1   user_id            99441 non-null   string
 2   product_id         112650 non-null  string
 3   feedback_id        100000 non-null  string
 4   seller_id          112650 non-null  string
 5   pickup_limit_date  112650 non-null  datetime64[ns]
 6   price              112650 non-null  float64
 7   shipping_cost      112650 non-null  float64
 8   payment_id         103886 non-null  Int64
dtypes: Int64(1), datetime64[ns](1), float64(2), string(5)
memory usage: 7.8 MB

In [56]:
df10['pickup_limit_date'] = pd.to_datetime(df10['pickup_limit_date'])

In [61]:
df10['order_id'] = df10['order_id'].astype("string")
df10['user_id'] = df10['user_id'].astype("string")
df10['product_id'] = df10['product_id'].astype("string")
df10['feedback_id'] = df10['feedback_id'].astype("string")
df10['seller_id'] = df10['seller_id'].astype("string")
df10['payment_id '] = df10['payment_id'].astype("Int64")

In [64]:
df10 = df10.drop('payment_id', axis=1)

In [67]:
df10.head()

,order_id,user_id,product_id,feedback_id,seller_id,pickup_limit_date,price,shipping_cost,payment_id
0,00010242fe8c5a6d1ba2dd792cb16214,861eff4711a542e4b93843c6dd7febb0,4244733e06e7ecb4970a6e2683c13e61,7bc2406110b926393aa56f80a40eba40,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58900.0,13290.0,1
1,00018f77f2f0320c557190d7a144bdd3,290c77bc529b7ac935b93aa66c333dc3,e5f2d52b802189ee658865ca93d83a8f,80e641a11e56f04c1ad469d5645fdfde,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239900.0,19930.0,2
2,000229ec398224ef6ca0657da4fc703e,060e732b5b29e8181a18229c7b0b2b5e,c777355d18b72b67abbeef9df44fd0fd,228ce5500dc1d8e020d8d1322874b6f0,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199000.0,17870.0,3
3,00024acbcdf0a6daa1e931b038114c75,259dac757896d24d7702b9acbbff3f3c,7634da152a4610f1595efa32f14722fc,e64fb393e7b32834bb789ff8bb30750e,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12990.0,12790.0,4
4,00042b26cf59d7ce69dfabb4e55b4fd9,345ecd01c38d18a9036ed96c73b8d066,ac6c3623068f30de03045865e4e10089,f7c4243c7fe1938f181bec41a392bdeb,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199900.0,18140.0,5

In [72]:
# Export the DataFrame to a CSV file
df10.to_csv('sales55502.csv', index=False)

#### ===============================================================================================================

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   order_id           112650 non-null  object
 1   order_item_id      112650 non-null  int64
 2   product_id         112650 non-null  object
 3   seller_id          112650 non-null  object
 4   pickup_limit_date  112650 non-null  object
 5   price              112650 non-null  float64
 6   shipping_cost      112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [12]:
df.notnull()

,order_id,order_item_id,product_id,seller_id,pickup_limit_date,price,shipping_cost
0,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...
112645,True,True,True,True,True,True,True
112646,True,True,True,True,True,True,True
112647,True,True,True,True,True,True,True
112648,True,True,True,True,True,True,True
112649,True,True,True,True,True,True,True

In [13]:
df = df.drop('order_id', axis=1)
df = df.drop('order_item_id', axis=1)
df = df.drop('product_id', axis=1)
df = df.drop('seller_id', axis=1)

In [14]:
df.head()

     pickup_limit_date     price  shipping_cost
0  2017-09-19 09:45:35   58900.0        13290.0
1  2017-05-03 11:05:13  239900.0        19930.0
2  2018-01-18 14:48:30  199000.0        17870.0
3  2018-08-15 10:10:18   12990.0        12790.0
4  2017-02-13 13:57:51  199900.0        18140.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   pickup_limit_date  112650 non-null  object
 1   price              112650 non-null  float64
 2   shipping_cost      112650 non-null  float64
dtypes: float64(2), object(1)
memory usage: 2.6+ MB

In [16]:
# Split the 'feedback_answer_date' column into two columns: 'feedback_answer_full_date' and 'feedback_answer_time'
df[['pickup_limit_date_datefull', 'pickup_limit_date_time']] = df['pickup_limit_date'].str.split(' ', expand=True)

In [17]:
df = df.drop('pickup_limit_date_time', axis=1)

In [18]:
df = df.drop('pickup_limit_date', axis=1)

In [19]:
df['pickup_limit_date_datefull'] = pd.to_datetime(df['pickup_limit_date_datefull'])

In [20]:
df = df.rename(columns={'pickup_limit_date_datefull': 'pickup_limit_date'})

In [21]:
# altering the DataFrame
df = df[['pickup_limit_date', 'price', 'shipping_cost']]

In [22]:
df.head()

  pickup_limit_date     price  shipping_cost
0        2017-09-19   58900.0        13290.0
1        2017-05-03  239900.0        19930.0
2        2018-01-18  199000.0        17870.0
3        2018-08-15   12990.0        12790.0
4        2017-02-13  199900.0        18140.0

In [23]:
# Export the DataFrame to a CSV file
df.to_csv('sales.csv', index=False)

In [24]:
df1 = pd.read_csv('sales.csv')

In [25]:
df1.head()

  pickup_limit_date     price  shipping_cost
0        2017-09-19   58900.0        13290.0
1        2017-05-03  239900.0        19930.0
2        2018-01-18  199000.0        17870.0
3        2018-08-15   12990.0        12790.0
4        2017-02-13  199900.0        18140.0

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   pickup_limit_date  112650 non-null  datetime64[ns]
 1   price              112650 non-null  float64
 2   shipping_cost      112650 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 2.6 MB

In [30]:
df1['pickup_limit_date'] = pd.to_datetime(df1['pickup_limit_date'])

In [32]:
# Export the DataFrame to a CSV file
df1.to_csv('sales2.csv', index=False)

In [33]:
df2=pd.read_csv('sales2.csv')

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   pickup_limit_date  112650 non-null  object
 1   price              112650 non-null  float64
 2   shipping_cost      112650 non-null  float64
dtypes: float64(2), object(1)
memory usage: 2.6+ MB