# Exploratory  Data

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('feedback_dataset.csv')

In [4]:
df.head()

,feedback_id,order_id,feedback_score,feedback_form_sent_date,feedback_answer_date
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01 00:00:00,2018-03-02 10:26:53

In [5]:
df.describe(include=object)
#string values

,feedback_id,order_id,feedback_form_sent_date,feedback_answer_date
count,100000,100000,100000,100000
unique,99173,99441,637,99010
top,2172867fd5b1a55f98fe4608e1547b4b,03c939fd7fd3b38f8485a0f95798f1f6,2017-12-19 00:00:00,2017-06-15 23:21:05
freq,3,3,466,4

In [6]:
df.describe()
#the only numeric values

       feedback_score
count   100000.000000
mean         4.070890
std          1.359663
min          1.000000
25%          4.000000
50%          5.000000
75%          5.000000
max          5.000000

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.shape
# (rows,columns)

(100000, 5)

In [9]:
len(df)
#number of rows

100000

In [10]:
df.tail()

,feedback_id,order_id,feedback_score,feedback_form_sent_date,feedback_answer_date
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,2017-12-09 00:00:00,2017-12-11 20:06:42
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,2018-03-22 00:00:00,2018-03-23 09:10:43
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,2018-07-01 00:00:00,2018-07-02 12:59:13
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,2017-12-15 00:00:00,2017-12-16 01:29:43
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,2017-07-03 00:00:00,2017-07-03 21:01:49

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   feedback_id              100000 non-null  object
 1   order_id                 100000 non-null  object
 2   feedback_score           100000 non-null  int64
 3   feedback_form_sent_date  100000 non-null  object
 4   feedback_answer_date     100000 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [12]:
df.notnull()

,feedback_id,order_id,feedback_score,feedback_form_sent_date,feedback_answer_date
0,True,True,True,True,True
1,True,True,True,True,True
2,True,True,True,True,True
3,True,True,True,True,True
4,True,True,True,True,True
...,...,...,...,...,...
99995,True,True,True,True,True
99996,True,True,True,True,True
99997,True,True,True,True,True
99998,True,True,True,True,True
99999,True,True,True,True,True

#  Data Transformation

In [13]:
# length of cell i user_name column
len(df.at[0, 'feedback_id'])

32

In [14]:
len(df.at[0, 'order_id'])

32

In [18]:
#Convert the 'feedback_form_sent_date' column from object to string
#df['feedback_form_sent_date'] = pd.to_datetime(df['feedback_form_sent_date'])
df['feedback_form_sent_date'] = df['feedback_form_sent_date'].astype("string")

In [19]:
#df['feedback_answer_date'] = pd.to_datetime(df['feedback_answer_date'])
df['feedback_answer_date'] = df['feedback_answer_date'].astype("string")

In [20]:
# Split the 'feedback_form_sent_date' column into two columns: 'feedback_sent_full_date' and 'feedback_sent_time'
df[['feedback_sent_full_date', 'feedback_sent_time']] = df['feedback_form_sent_date'].str.split(' ', expand=True)

In [21]:
df.head()

,feedback_id,order_id,feedback_score,feedback_form_sent_date,feedback_answer_date,feedback_sent_full_date,feedback_sent_time
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18 00:00:00,2018-01-18 21:46:59,2018-01-18,00:00:00
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10 00:00:00,2018-03-11 03:05:13,2018-03-10,00:00:00
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17 00:00:00,2018-02-18 14:36:24,2018-02-17,00:00:00
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21 00:00:00,2017-04-21 22:02:06,2017-04-21,00:00:00
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01 00:00:00,2018-03-02 10:26:53,2018-03-01,00:00:00

In [22]:
# Split the 'feedback_answer_date' column into two columns: 'feedback_answer_full_date' and 'feedback_answer_time'
df[['feedback_answer_full_date', 'feedback_answer_time']] = df['feedback_answer_date'].str.split(' ', expand=True)

In [23]:
df.head()

,feedback_id,order_id,feedback_score,feedback_form_sent_date,feedback_answer_date,feedback_sent_full_date,feedback_sent_time,feedback_answer_full_date,feedback_answer_time
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18 00:00:00,2018-01-18 21:46:59,2018-01-18,00:00:00,2018-01-18,21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10 00:00:00,2018-03-11 03:05:13,2018-03-10,00:00:00,2018-03-11,03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17 00:00:00,2018-02-18 14:36:24,2018-02-17,00:00:00,2018-02-18,14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21 00:00:00,2017-04-21 22:02:06,2017-04-21,00:00:00,2017-04-21,22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01 00:00:00,2018-03-02 10:26:53,2018-03-01,00:00:00,2018-03-02,10:26:53

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   feedback_id                100000 non-null  object
 1   order_id                   100000 non-null  object
 2   feedback_score             100000 non-null  int64
 3   feedback_form_sent_date    100000 non-null  string
 4   feedback_answer_date       100000 non-null  string
 5   feedback_sent_full_date    100000 non-null  string
 6   feedback_sent_time         100000 non-null  string
 7   feedback_answer_full_date  100000 non-null  string
 8   feedback_answer_time       100000 non-null  string
dtypes: int64(1), object(2), string(6)
memory usage: 6.9+ MB

In [25]:
# Drop the original 'feedback_form_sent_date' column if needed
df = df.drop('feedback_form_sent_date', axis=1)

In [26]:
# Drop the original 'feedback_answer_date' column if needed
df = df.drop('feedback_answer_date', axis=1)

In [45]:
df.head(100)

,feedback_id,order_id,feedback_score,feedback_sent_full_date,feedback_sent_time,feedback_answer_full_date,feedback_answer_time
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,0 days 00:00:00,2018-01-18,0 days 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,0 days 00:00:00,2018-03-11,0 days 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,0 days 00:00:00,2018-02-18,0 days 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,0 days 00:00:00,2017-04-21,0 days 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01,0 days 00:00:00,2018-03-02,0 days 10:26:53
...,...,...,...,...,...,...,...
95,71bc170a5ad41ee9dee95f82a17860a8,a90b081d0efa436e072d5328ecd904a4,5,2017-08-03,0 days 00:00:00,2017-08-03,0 days 23:40:22
96,c5be8de5421e658a45042d6ca6a4ff64,61665389f0cccf5ec8135e3b05efc714,5,2017-12-12,0 days 00:00:00,2017-12-13,0 days 22:58:34
97,0c8b57ea62de568f13a0e101d344977e,41bc5a3d34a8e4ef91b2e7d9500694cf,5,2017-07-12,0 days 00:00:00,2017-07-13,0 days 01:02:28
98,edfbad2944ea758725486c3bbcd04f49,9d2aa61b374fac5dd063f36fefa602e1,3,2018-03-28,0 days 00:00:00,2018-03-31,0 days 03:25:49
99,bbf6c18e7c5a88b6adcb69af3b971207,828a705e0645673b538e803ca75a29b6,5,2017-10-31,0 days 00:00:00,2017-11-06,0 days 18:43:24

In [28]:
#Convert the 'feedback_form_sent_date' column from object to date
df['feedback_sent_full_date'] = pd.to_datetime(df['feedback_sent_full_date'])
df['feedback_answer_full_date'] = pd.to_datetime(df['feedback_answer_full_date'])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   feedback_id                100000 non-null  string
 1   order_id                   100000 non-null  string
 2   feedback_score             100000 non-null  int64
 3   feedback_sent_full_date    100000 non-null  datetime64[ns]
 4   feedback_sent_time         100000 non-null  object
 5   feedback_answer_full_date  100000 non-null  datetime64[ns]
 6   feedback_answer_time       100000 non-null  object
dtypes: datetime64[ns](2), int64(1), object(2), string(2)
memory usage: 5.3+ MB

In [31]:
df['feedback_id'] = df['feedback_id'].astype("string")
df['order_id'] = df['order_id'].astype("string")

In [43]:
# Convert the 'feedback_sent_time' and 'feedback_answer_time' column from string to timedelta
# df['feedback_sent_time'] = pd.to_timedelta(df['feedback_sent_time'])
# df['feedback_answer_time'] = pd.to_timedelta(df['feedback_answer_time'])
df['feedback_sent_time'] = df['feedback_sent_time'].astype("object")
df['feedback_answer_time'] = df['feedback_answer_time'].astype("object")

In [35]:
df['feedback_answer_full_date'].equals(df['feedback_sent_full_date'])  # Returns True

False

In [42]:
# counting unique values in one column
len(pd.unique(df['feedback_sent_time']))

2

In [46]:
# Drop the original 'Name_Age' column if needed
df = df.drop('feedback_sent_time', axis=1)
df = df.drop('feedback_answer_time', axis=1)

In [56]:
df.head()

,feedback_id,order_id,feedback_score,feedback_sent_full_date,feedback_answer_full_date,Days_Between
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,2018-01-18,0
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,2018-03-11,1
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,2018-02-18,1
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,2017-04-21,0
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01,2018-03-02,1

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   feedback_id                100000 non-null  string
 1   order_id                   100000 non-null  string
 2   feedback_score             100000 non-null  int64
 3   feedback_sent_full_date    100000 non-null  datetime64[ns]
 4   feedback_answer_full_date  100000 non-null  datetime64[ns]
 5   Days_Between               100000 non-null  int64
dtypes: datetime64[ns](2), int64(2), string(2)
memory usage: 4.6 MB

In [49]:
# # Creates a new column containing all the days between feedback_sent_full_date and feedback_answer_full_date
# df["days"] = df.apply(lambda row: pd.date_range(start=row["feedback_sent_full_date"], end=row["feedback_answer_full_date"], freq="D"), axis=1)

In [55]:
# Calculate the number of days between 'Start_Date' and 'End_Date'
df['Days_Between'] = (df['feedback_answer_full_date'] - df['feedback_sent_full_date']).dt.days

In [58]:
# Export the DataFrame to a CSV file
df.to_csv('feedback_dataset_1.csv', index=False)

In [59]:
df1 = pd.read_csv('feedback_dataset_1.csv')

In [60]:
df1.head()

,feedback_id,order_id,feedback_score,feedback_sent_full_date,feedback_answer_full_date,Days_Between
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,2018-01-18,0
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,2018-03-11,1
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,2018-02-18,1
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,2017-04-21,0
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01,2018-03-02,1